@import '@/shared/styles/core.scss';

.wrapper {
  position: relative;
}

.input {
  padding: 12px;
  height: 40px;
  width: 100%;
  background: $grey;
  color: $lightGrey;
  border: none;

  &::placeholder {
    color: $lightGrey;
  }

  &:focus {
    outline: none;
  }
}

.label {
  position: absolute;
  top: 50%;
  left: 10px;
  color: $lightGrey;
  font-size: 14px;
  font-weight: 400;
  pointer-events: none;
  font-family: var(--font-roboto);
  transition: .2s;
  transform: translateY(-50%);
}

.label-focused {
  top: -18px;
  left: 0;
  font-size: 14px;
  color: $lightGrey;
  transition: .2s;
  transform: translateY(0);
}

.error {
  position: absolute;
  bottom: -18px;
  right: 0;
  color: rgb(218, 23, 23);
  font-size: 14px;
  z-index: 1;
}