@import '@/shared/styles/core.scss';

.wrapper {
  position: relative;

  display: flex;

  flex-direction: column;

  gap: 5px;
}

.input {
  padding: 12px;
  height: 40px;
  width: 100%;
  background: $grey;
  color: $lightGrey;
  border: none;

  font-size: 16px;

  &::placeholder {
    color: $lightGrey;
  }

  &:focus {
    outline: none;
  }
}

.label {
  color: $lightGrey;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-roboto);
  text-transform: uppercase;
  transition: .2s;
}

.label-focused {
  font-size: 14px;
  color: $lightGrey;
  transition: .2s;
  transform: translateY(0);
}

.error {
  position: absolute;
  bottom: -18px;
  right: 0;
  color: rgb(218, 23, 23);
  font-size: 14px;
  z-index: 1;
}