.footer {
  position: relative;

  margin-top: auto;

  padding: 0 40px;

  width: 100%;

  display: flex;

  align-items: center;

  justify-content: center;

  height: 160px;

  background: rgba($color: #000000, $alpha: 0.35);

  flex-shrink: 0;

  @media (max-width: 768px) {
    flex-direction: column;

    gap: 20px;

    height: 200px;
  }
}

.copyright {
  font-size: 16px;

  font-weight: 400;

  line-height: 24px;

  @media (max-width: 768px) {
    margin-left: auto;

    margin-right: auto;
  }
}

.social {
  margin-left: auto;

  display: flex;

  align-items: center;

  gap: 40px;

  height: auto;

  position: absolute;

  right: 20px;

  bottom: 50px;

  @media (max-width: 768px) {
    position: relative;

    bottom: unset;

    right: unset;

    margin: 0 auto;

    gap: 30px;


  }
}