@import '@/shared/styles/core.scss';

.main-nav {
  display: flex;

  justify-content: space-between;

  align-items: center;

  gap: 35px;

  color: $white;
}

.logo {
  margin: 0 auto;

  position: absolute;

  top: 0;

  left: 50%;

  transform: translateX(-50%);
}

.auth-nav {
  display: flex;

  justify-content: space-between;

  align-items: center;

  gap: 35px;

  color: $white;

  margin-left: auto;
}

.active {
  color: $red;
}